body {
    margin: 15px;
}

header {
    background-color: chartreuse;
    padding: 20px;
    text-align: center;
    margin: -1px;
}

button {
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
}

i {
    padding: 3px;
}